.side-carousel-image {
  width: 25%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  opacity: 0.8;
}

.show-image-size {
  height: 47%;
  object-fit: cover;
  flex:1;
}

.carousel-size {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.header-and-rating h1 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
}

.tour-description-show {
  flex:2;
  padding-right: 50px;
}

.booking-form {
  flex: 1;
  /*border: 1px solid #d6514a80;*/
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 5px #d6514a80;
  margin-right: 8px;
}

.description-booking-wrapper {
  display: flex;
}

.top-left-radius {
  border-top-left-radius: 10px;
}

.top-right-radius {
  border-top-right-radius: 10px;
}

.bottom-left-radius {
   border-bottom-left-radius: 10px;
}

.bottom-right-radius {
  border-bottom-right-radius: 10px;
}

.fa-edit, .fa-trash-alt, .fa-arrow-circle-left {
  color: #000;
  font-size: 1rem;
}

.fa-edit:hover, .fa-trash-alt:hover, .fa-arrow-circle-left:hover{
  color: #d6514a;
  font-size: 1.1rem;
}

@media (max-width: 800px){
  .side-carousel-image {
    display: none;
  }
}

@media (max-width: 575px){
  .description-booking-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tour-description-show {
    padding-right: 10px;
  }
}

@media (max-width: 414px){
  .carousel-size {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .description-booking-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tour-description-show {
    padding-right: 10px;
  }
}

@media (max-width: 375px){
  .header-and-rating h1 {
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 600;
  }

  .carousel-size {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .description-booking-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tour-description-show {
    padding-right: 10px;
  }
}

@media (max-width: 320px){
  .header-and-rating h1 {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .carousel-size {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .description-booking-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tour-description-show {
    padding-right: 10px;
  }
}




