/*Reservarion tab*/

.reservation-card {
  box-shadow: 1px 1px 5px #cecece;
  border-radius: 10px;
  height: 250px;
}

/*.decrease-image-size{
  height:100%;
  width:auto;
  object-fit:cover;
  flex:2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}*/


