/*Reservarion tab*/

.reservation-card {
  box-shadow: 1px 1px 5px #cecece;
  border-radius: 10px;
  height: 250px;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #d6514a;
}

.dashboard-header {
  font-size: 2.1rem;
  font-weight: 600;
}

@media (min-width: 200px) and (max-width: 414px){
  .dashboard-header {
    font-size: 1.5rem;

  }
}
