<footer class="footer-background">
  <div class="custom-container newsletter">
    <%= image_tag "logo2.png", alt: "This is the logo of tours of the day", class: "footer-logo" %>
    <!-- <form method="post" action="https://sendfox.com/form/m74gdm/m7xrvv" class="mt-4" id="m7xrvv" data-async="true" data-recaptcha="false"> -->
    <form action="" class="mt-4">
      <div class="d-flex">
        <div class="d-flex flex-column">
          <label for="email" class="newsletter-label">Subscribe for our Newsletter</label>
          <input type="email" placeholder="Email" name="email" class="newsletter-email-input" required />
        </div>
        <!-- no botz please -->
        <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div> -->
        <button type="submit" class="newsletter-button">Subscribe</button>
      </div>
    </form>
    <script src="https://sendfox.com/js/form.js"></script>
  </div>
  <div>
    <hr class="footer-hr my-4">
  </div>
  <div class="copyright d-flex justify-content-center">
    <p>© 2021 Tours of the Day. All rights reserved.</p>
  </div>
</footer>


