<div class="two-image__wrapper">
    <div class="two-image__one">
        <img src="https://res.cloudinary.com/dynirwhqr/image/upload/v1628260481/netherlands_g4nj3h.jpg" alt="">
    </div>
    <div class="two-image__text-box">
        <h2>You Enjoying your Holiday with the Best Tours!</h2>
        <a href="#">Find your tour</a>
    </div>
    <div class="two-image__two">
        <img src="https://res.cloudinary.com/dynirwhqr/image/upload/v1618083624/0twst14oxzfso9sguc4mwbjfylyb.jpg" alt="">
    </div>
</div>