<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <div class="own-tour" id="own-tour">
    <h2 class="my-5">Your Tours:</h2>

    <div class="container">
      <div class="row justify-content-center">
        <% @tours.each do |tour| %>
          <% if tour.user_id == current_user.id %>
            <h2><%= tour.name %></h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
