.dashboard-container {
  margin:0px 120px;
}

.custom-container {
  margin: 0px 50px;
}

@media (max-width: 1112px){
  .custom-container {
    margin:0px 40px;
  }
}

@media (min-width: 575px) and (max-width: 1024px){
  .custom-container {
    margin:0px 20px;
  }

  .dashboard-container {
    margin:0px 50px;
  }
}

@media (min-width: 375px) and (max-width: 574px){
  .custom-container {
    margin:0px 5px;
  }

  .dashboard-container {
    margin:0px 30px;
  }

}

@media (min-width: 200px) and (max-width: 374px){
  .custom-container {
    margin:0px 5px;
  }

  .dashboard-container {
    margin:0px 10px;
  }

}
