.footer-logo {
  height: 100px;
  width: 143px;
  margin-top: 13px;
}

.footer-hr {
  border-bottom: 1px solid #ffffff99;
  width: 80%;
}

.footer-background {
  background: #d6514a;
}

.copyright {
  color: #fff;
}

.newsletter-email-input {
  width: 400px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #00000099;
}

.newsletter-label {
  color: #fff;
}

.newsletter-email-input:focus {
  outline: none;
}

.newsletter-button {
  background: #000;
  color: #fff;
  height: 48px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 30px;
  margin-top: 32px;
  margin-right: 20px;
  margin-left: -20px;
  border: none;
}

.newsletter {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 320px){
  .newsletter-email-input {
    width: 120px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #00000099;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*.copyright {
    display: flex;
    justify-content: center;
  }*/
}

@media (max-width: 375px){
  .newsletter-email-input {
    width: 145px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #00000099;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*.copyright {
    display: flex;
    justify-content: center;
  }*/
}

@media (max-width: 575px){
  .newsletter-email-input {
    width: 230px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #00000099;
  }

  .newsletter-button {
    margin-top: 32px;
    margin-left: -1px;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .newsletter-label {
    text-align: center;
  }

  /*.copyright {
    display: flex;
    justify-content: center;
  }*/
}
