#footer {
  background-color: #d6514aE6;
  padding: 20px;
  padding-top: 56px;
  margin-top: 56px;
  color: #fff;
  font-size: 14px;
  position: relative;
}

.footer-responsive {
  display: flex;
  justify-content: space-around;
}

.footer-about {
  width: 10%;
}

.footer-logo {
  height: 100px;
  width: 143px;
  margin: 0px auto;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-hr {
  border-bottom: 1px solid #ffffff;
  width: 90%;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 5px 0px 5px 0px;
}

.footer-links a {
  color: #F3F1EF;
  text-decoration: none;
}

#back-top {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: #fff;
  padding: 2px 9px;
  border-radius: 50%;
  opacity: 0.3
}

.fab {
  color: #fff;
  font-size: 1rem;
}

.copyright-social-media {
  display: flex;
  justify-content: space-between;
}

.footer-design .form-control {
  border-radius: 20px;

}

@media (max-width: 900px){
  .footer-responsive {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .copyright-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media (min-width: 200px) and (max-width: 500px){
  .footer-design {
    width: 100%;
    margin: 10px 0px;
  }

  .footer-logo {
    margin: 0px auto;
  }

  .footer-design .form-control {
    margin-bottom: 10px;
  }
}


