.navbar-tours {
  justify-content: space-between;
  background: white;
}

.navbar-tours .navbar-collapse {
  flex-grow: 0;
}

.navbar-tours .navbar-brand img {
  width: 100px;
}

.navbar li a {
  color: #000!important;
  font-size: 1.1rem;
}


.navbar li a:hover {
  color: #d6514a!important;
  font-size: 1.1rem;
}

.login-button {
  border: 2px solid #d6514a;
  border-radius: 20px;
  padding: 5px 30px!important;
  margin-left: 10px;
}

.login-button:hover {
  text-decoration: none;
}

.navbar-light .navbar-toggler {
  border:none!important;
}

@media (max-width: 1200px){
  .navbar-custom-layout {
    box-shadow: 1px 1px 5px #f1f1f1E8;
  }
}
